<!--<h1 id="tableLabel">Money Coverter</h1>-->
<!--<div class="card text-bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Convert</div>
  <div class="card-body">
    <h5 class="card-title">{{amount}}</h5>
    <p class="card-text">{{moneyText}}</p>
  </div>
</div>-->
<a><span class="fa fa-chevron-back"></span></a>
<h2 class="amount rounded-gradient-borders"><span class="amountText">{{amount}}</span></h2>
<section>
  <div class="content">
    <h2>{{moneyText}}</h2>
    <h2 class="animate-character">{{moneyText}}</h2>
  </div>
</section>
